.img{
    margin-top: 15px;
    height: 150px;
    width: 160px;
}
#box{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.BoxDiv{
    border: 1px solid black;                                                                                                        
}
.img {
    width: 100px;
    height: 100px;
}
.price{
    font-size: 20px;
}
.BoxDiv {
    font-size: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    font-size:15px;
}
