
#cartItems {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}


#cartItems tr {
    border-bottom: 1px solid #dddddd;
}


#cartItems th, #cartItems td {
    padding: 12px 15px;
}


#cartItems tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.item-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.item-price, .item-rating {
    text-align: center;
}
